<td>
  <%= order.customer_email %>
</td>
<td>
  <%= order.fulfilled %>
</td>
<td>
  <%= order.total %>
</td>
<td>
  <%= order.address %>
</td>
<td>
  <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
</td>
