<style>
  .action-buttons {
    display: flex;
  }
</style>

<% if notice.present? %>
  <div class="callout callout-success mb-4">
    <h5 class="fw-bold"><%= notice %></h5>
  </div>
<% end %>

<!--begin::App Content Header-->
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Orders</h3>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-end">
          <%= link_to "New order", new_admin_order_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::Container-->
<div class="container-fluid">
  <!--begin::Row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-12">
        <div class="card-header">
          <h3 class="card-title">Unfulfilled Orders</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Customer email</th>
                <th>Fulilled</th>
                <th>Total</th>
                <th>Address</th>
                <th>Created at</th>
                <th style="width: 80px">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @not_fulilled_orders.each.with_index(1) do |admin_order, index| %>
                <tr class="align-middle">
                  <td><%= index %></td>
                  <%= render admin_order %>
                  <td>
                    <div class="action-buttons">
                      <%= link_to "", [:admin, admin_order], class: "bi bi-eye-fill p-1" %>
                      <%= link_to "", edit_admin_order_path(admin_order), class: "bi bi-pencil-square text-warning p-1" %>
                      <%= link_to "", [:admin, admin_order], data: { "turbo-method": :delete,
                        "turbo-confirm": "Are you sure you want to delete?"},
                        class: "bi bi-trash3-fill text-danger p-1",
                        style: "border-style: none; background: transparent;" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-end">
            <li class="page-item">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>

  <div style="padding: 0.5rem;"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-12">
        <div class="card-header">
          <h3 class="card-title">Fulfilled Orders</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Customer email</th>
                <th>Fulilled</th>
                <th>Total</th>
                <th>Address</th>
                <th>Created at</th>
                <th style="width: 80px">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @fulilled_orders.each.with_index(1) do |admin_order, index| %>
                <tr class="align-middle">
                  <td><%= index %></td>
                  <%= render admin_order %>
                  <td>
                    <div class="action-buttons">
                      <%= link_to "", [:admin, admin_order], class: "bi bi-eye-fill p-1" %>
                      <%= link_to "", edit_admin_order_path(admin_order), class: "bi bi-pencil-square text-warning p-1" %>
                      <%= button_to "", [:admin, admin_order], method: :delete, form: { class: "delete-form" },
                        class: "bi bi-trash3-fill text-danger p-1", onclick: "return confirm('Are you sure?')",
                        style: "border-style: none; background: transparent;" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-end">
            <li class="page-item">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
