<% if notice.present? %>
  <div class="callout callout-success mb-4">
    <h5 class="fw-bold"><%= notice %></h5>
  </div>
<% end %>

<div style="padding: 0.5rem;"></div>

<div class="container-fluid">
  <!--begin::Row-->
  <div class="row g-4">
    <!--begin::Col-->
    <div class="col-md-12">
      <!--begin::Accordion-->
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header">
          <div class="card-title">Order ID: <%= @admin_order.id %></div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="row g-4">
            <div class="col-md-12">
              <h6><strong>Customer email:</strong></h6>
              <p><%= @admin_order.customer_email %></p>
              <h6><strong>Fulfilled:</strong></h6>
              <p><%= @admin_order.fulfilled %></p>
              <h6><strong>Total:</strong></h6>
              <p><%= @admin_order.total %></p>
              <h6><strong>Address:</strong></h6>
              <p><%= @admin_order.address %></p>
            </div>
          </div>
        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer">
          <%= link_to "Edit this order", edit_admin_order_path(@admin_order), class: "btn btn-secondary" %>
          <%= link_to "Back to orders", admin_orders_path, class: "btn btn-secondary" %>
        </div>
        <!--end::Footer-->
      </div>
    </div>
  </div>
</div>
