<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" data-controller="sidenav">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <%= link_to admin_path, class: "brand-link" do %>
      <!--begin::Brand Image-->
      <img
        src="/assets2/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image opacity-75 shadow"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">Ecommerce Admin</span>
      <!--end::Brand Text-->
    <% end %>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item" data-action="click->sidenav#toggleMenu" data-sidenav-target="navItem">
          <%= link_to admin_path, class: "nav-link" do %>
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              Dashboard
            </p>
          <% end %>
        </li>
        <li class="nav-item" data-action="click->sidenav#toggleMenu" data-sidenav-target="navItem">
          <%= link_to admin_categories_path, class: "nav-link" do %>
            <i class="nav-icon bi bi-list"></i>
            <p>
              Categories
            </p>
          <% end %>
        </li>
        <li class="nav-item" data-action="click->sidenav#toggleMenu" data-sidenav-target="navItem">
          <%= link_to admin_products_path, class: "nav-link" do %>
            <i class="nav-icon bi bi-cart"></i>
            <p>
              Products
            </p>
          <% end %>
        </li>
        <li class="nav-item" data-action="click->sidenav#toggleMenu" data-sidenav-target="navItem">
          <%= link_to admin_orders_path, class: "nav-link" do %>
            <i class="nav-icon bi bi-truck"></i>
            <p>
              Orders
            </p>
          <% end %>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
