<div style="padding: 0.5rem;"></div>

<div class="container-fluid">
  <!--begin::Row-->
  <div class="row g-4">
    <!--begin::Col-->
    <div class="col-md-12">
      <!--begin::Accordion-->
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header">
          <div class="card-title">Stock ID: <%= @admin_stock.id %></div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="row g-4">
            <div class="col-md-12">
              <h6><strong>Size:</strong></h6>
              <p><%= @admin_stock.size %></p>
              <h6><strong>Amount:</strong></h6>
              <p><%= @admin_stock.amount %></p>
            </div>
          </div>
        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer">
          <%= link_to "Edit this stock", edit_admin_product_stock_path(@admin_stock.product, @admin_stock), class: "btn btn-secondary" %>
          <%= link_to "Back to stocks", admin_product_stocks_path(@admin_stock.product), class: "btn btn btn-secondary" %>
        </div>
        <!--end::Footer-->
      </div>
    </div>
  </div>
</div>
