<%= form_with(model: [:admin, admin_category]) do |form| %>
  <% if admin_category.errors.any? %>
    <div id="error_explanation" class="callout callout-danger mb-4">
      <h5 class="fw-bold"><%= pluralize(admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h5>

      <ul>
        <% admin_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-12">
      <%= form.label :name, style: "display: block", class: "form-label", for: "category_name" %>
      <%= form.text_field :name, class: "form-control", id: "category_name" %>
    </div>

    <div class="col-md-12">
      <%= form.label :description, style: "display: block", class: "form-label", for: "category_description" %>
      <%= form.text_area :description, class: "form-control", id: "category_description" %>
    </div>

    <div class="col-md-12">
      <% if admin_category.image.present? %>
        <%= image_tag admin_category.image, class: "img-thumbnail", width: "150px" %>
      <% end %>
      <div class="input-group">
        <%= form.file_field :image, class: "form-control", type: "file", id: "category_image" %>
        <%= form.label :upload, class: "input-group-text", for: "category_image" %>
      </div>
    </div>

    <div>
      <%= form.submit class: "btn btn-info" %>
    </div>
  </div>
<% end %>

