<% if notice.present? %>
  <div class="callout callout-success mb-4">
    <h5 class="fw-bold"><%= notice %></h5>
  </div>
<% end %>

<div style="padding: 0.5rem;"></div>

<div class="container-fluid">
  <!--begin::Row-->
  <div class="row g-4">
    <!--begin::Col-->
    <div class="col-md-12">
      <!--begin::Accordion-->
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header">
          <div class="card-title">Category ID: <%= @admin_category.id %></div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="row g-4">
            <div class="col-md-8">
              <h6><strong>Name:</strong></h6>
              <p><%= @admin_category.name %></p>
              <h6><strong>Description:</strong></h6>
              <p><%= @admin_category.description %></p>
            </div>
            <div class="col-md-4">
              <h6><strong>Image:</strong></h6>
              <%= @admin_category.image.present? ? image_tag(@admin_category.image, class: "img-fluid") : image_tag("https://via.placeholder.com/50", class: "img-fluid") %>
            </div>
          </div>
        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer">
          <%= link_to "Edit this category", edit_admin_category_path(@admin_category), class: "btn btn-secondary" %>
          <%= link_to "Back to categories", admin_categories_path, class: "btn btn-secondary" %>
        </div>
        <!--end::Footer-->
      </div>
    </div>
  </div>
</div>
