<div style="padding: 0.5rem;"></div>

<div class="container-fluid">
  <!--begin::Row-->
  <div class="row g-4">
    <!--begin::Col-->
    <div class="col-md-12">
      <!--begin::Accordion-->
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header">
          <div class="card-title">Category ID: <%= @admin_category.id %></div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <h6><strong>Name:</strong></h6>
          <p><%= @admin_category.name %></p>
          <h6><strong>Description:</strong></h6>
          <p><%= @admin_category.description %></p>
          <hr>
          <%= link_to "Edit this category", edit_admin_category_path(@admin_category), class: "btn btn-warning" %>
          <%= link_to "Back to categories", admin_categories_path, class: "btn btn btn-primary" %>
          <hr>
          <%= button_to "Destroy this category", [:admin, @admin_category], method: :delete, class: "btn btn-danger" %>
        </div>
        <!--end::Body-->
      </div>
    </div>
  </div>
</div>
